<!--L'html definisce gli elementi statici mentre il css definisce lo stile
    Però possiamo anche definire lo stile direttamente nell'html -->
<!-- quando usiamo la doppia parentesi graffa stiamo dicendo che vogliamo stampare una variabile -->

{% extends "base.html" %}
{% block content %}
  <div style ="text-align: center;">
    <h1>{{ text.title }}</h1>
    <p>{{ text.content }}</p>
    <img src="{{ url_for('static', path='library.jpg') }}" alt="library">
    <!-- questo è un esempio di come si può usare il url_for per generare l'url di un'immagine -->
    <!-- path, inserendo il nome dell'immagine, mi restituisce l'url -->
  </div>
{% endblock %}





<!-- {% for key in text %}
    <p>{{ key }}</p>
  {% endfor %} -->